#main-outlet-wrapper {
  box-sizing: unset;
  width: 100%;
  display: grid;
  grid-column-gap: #{$sidebar_gap}px;
  grid-template-areas:
    "sidebar leftsidebar content rightsidebar";
  grid-template-columns: 0 auto minmax(0, 1fr) auto;
}

@media screen and (max-width: 8000px) {
  .container.posts .topic-navigation {
      grid-area: posts;
      grid-row: 2;
      width: auto;
  }
}

.left-sidebar {
  grid-area: leftsidebar;
}

.right-sidebar {
  grid-area: rightsidebar;
}

body.has-sidebar-page #main-outlet-wrapper {
  grid-template-areas:
    "leftsidebar sidebar content rightsidebar";
  grid-template-columns: auto var(--d-sidebar-width) minmax(0, 1fr) auto;
  grid-column-gap: #{$sidebar_gap}px;
}

.full-width:not(.admin-interface *) {
  display: grid;
  grid-template-areas:
    "content rightaltsidebar";
  grid-template-columns: minmax(0, 1fr) auto;
  grid-column-gap: #{$rightalt_sidebar_gap}px;
}

.right-alt-sidebar {
  grid-area: rightaltsidebar;
}

.top-bar {
  display: flex;
  flex-direction: row;
  top: 60px;
  top: #{$top_bar_sticky_top_position}px;
  height: 100%;
  position: sticky;
  .component-widget{
    width: 100%;
  }
}

.left-sidebar, .right-sidebar, .right-alt-sidebar {
  top: #{$sidebar_sticky_top_position}px;
  height: #{$sidebar_height}px;
  align-self: start;
  .component-widget{
    margin-bottom: #{$sidebar_between_component_gap}px;
  }
}

.big-a, .big-b, .big-c, .big-d, .big-e, .big-f, .big-g {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px #00000029;
}