#main-outlet-wrapper {
  box-sizing: unset;
  width: 100%;
  display: grid;
  grid-column-gap: #{$sidebar_gap}px;
  grid-template-areas:
    "sidebar leftsidebar content rightsidebar";
  &:has(.powered-by-discourse) {
    grid-template-areas:
      "sidebar leftsidebar content rightsidebar"
      "sidebar leftsidebar below-content rightsidebar";
  }
  grid-template-columns: 0 auto minmax(0, 1fr) auto;

  &.has-sidebar {
    .topic-body {
      width: 100%;
    }
  }
}

@media screen and (max-width: 8000px) {
  .container.posts :not(.with-timeline).topic-navigation {
    grid-area: posts;
    grid-row: 2;
    width: auto;
  }
}

.left-sidebar {
  grid-area: leftsidebar;
  padding-top: 22px;
}

.right-sidebar {
  grid-area: rightsidebar;
}

body.has-sidebar-page #main-outlet-wrapper {
  grid-template-areas:
    "leftsidebar sidebar content rightsidebar";
  &:has(.powered-by-discourse) {
    grid-template-areas:
      "leftsidebar sidebar content rightsidebar"
      "leftsidebar sidebar below-content rightsidebar";
  }
  grid-template-columns: auto var(--d-sidebar-width) minmax(0, 1fr) auto;
  grid-column-gap: #{$sidebar_gap}px;
}

.full-width:not(.admin-interface *) {
  display: grid;
  grid-template-areas:
    "content rightaltsidebar";
  &:has(.powered-by-discourse) {
    grid-template-areas:
      "content rightaltsidebar"
      "below-content rightaltsidebar";
  }
  grid-template-columns: minmax(0, 1fr) auto;
  grid-column-gap: #{$rightalt_sidebar_gap}px;
}

.right-alt-sidebar {
  grid-area: rightaltsidebar;
}

.top-bar {
  display: flex;
  flex-direction: column;
  .button-bar {
    display: flex;
    justify-content: end;
  }
  .bar-content {
    display: flex;
    flex-direction: row;
    top: 60px;
    top: #{$top_bar_sticky_top_position}px;
    height: 100%;
    position: sticky;
    .component-widget{
      width: 100%;
    }

  }
  &.collapsed {
    overflow: hidden;
    .component-widget {
      display: none;
    }
  }
  &.expanded {
    height: 100%;
  }
}

.button-bar {
  button {
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

.left-sidebar, .right-sidebar, .right-alt-sidebar {
  top: #{$sidebar_sticky_top_position}px;
  height: #{$sidebar_height}px;
  align-self: start;
  .component-widget{
    margin-bottom: #{$sidebar_between_component_gap}px;
  }
  &.collapsed {
    width: 0;
    overflow: hidden;
    .component-widget{
      display: none;
    }
    .button-bar {
      display: flex;
      flex-direction: column;
    }
  }
  &.expanded {
    .button-bar {
      display: flex;
      justify-content: space-between;
      button {
        margin-left: 0px;
      }
    }
  }
}

.left-sidebar {
  &.expanded {
    .button-bar {
      flex-direction: row-reverse;
    }
  }
}

.bars-big-letter {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px #00000029;
}